// variables

$white-color: #fff;
$mid-white: #f1f1f1;
$black-color: #202024;
$light-black: #605d5d;

// mixins

@mixin flex($justify-content: center, $align-items: center, $direction: column) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

// animations

@keyframes show {
    
    0% {
        transform: translateY(-25%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }

}